<settings>


 <category label="Visualização">
    <setting id="use_thumb" type="bool" label="Usar Thumbnails como Fanart" default="true" />
    <setting id="add_playlist" type="bool" label="Mostrar Janela de seleção de Links" default="true"/>
    <setting id="ask_playlist_items" type="bool" label="Escolher items do Menu de Contexto" default="true" />
  </category>
  
  <category label="Players">
    <setting label="[B][COLOR lime]Selecione abaixo seu gerenciador de torrents[/B][/COLOR]" type="lsep" /> 
	<setting type="sep" />
    <setting label="32054" type="labelenum" id="plugin" default="Quasar" values="Pulsar|Quasar|YATP|KmediaTorrent|Torrenter|XBMCtorrent"/>
    <setting type="sep" />
	<setting label="32057" type="lsep"/>
	<setting label="32058" type="lsep"/>
    <setting type="lsep" />
  </category>
  
   <category label="Controle dos Pais">
    	<setting id="parentalblockedpin" label="Senha" type="text"  option="hidden" default="1234"/> 
    <setting id="parentalblocked" label="Ativar?" type="bool"  default="false" enable="true"/>
    </category>
</settings>